.orden{
    background-color: rgb(238, 224, 220);
    }
    .cuerpo{
        background-color: rgb(204, 240, 214);
        margin: 50px;
    }
    nav{
        background-color: rgb(206, 247, 196);
        margin: 30px;
        padding: 15px;
        }
    nav:hover{
        background-color: rgb(132, 160, 139);
        margin: 10px;
        padding: 30px;
        transition: all 0.5s;
        border-style: solid;
        border-color: rgb(15, 15, 15);
    }
    .mov{
        margin: 10px;
        padding: 2px;
    }
    .move{
        margin: 10px;
    }